* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/********************************
 DOCUMENT STYLES
********************************/
* {
	font-family: sans-serif;
}


h1,h2,h3,h4,h5,h6 {
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	line-height: 20px;
	margin: 5px 0;
}

hr {
	margin: 30px 0;
}

/********************************
 UI STYLES - BUTTONS, ETC
********************************/

/********************************
 APPLICATION CUSTOM STYLES
********************************/

#content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#intro {
	padding: 10px;
}

#tweet-container > iframe {
	margin-left: auto;
	margin-right: auto;
}

#rating-input-container {
	position: relative;
}

.scale-legend-icon {
	width: 10%;
	padding-top: 4vw;
}


@media (min-width: 500px) {
	.scale-legend-icon {
		padding-top: 0vw;
	}
}

.scale-legend-icon img {
	width:100%;
}

.scale-legend-icon:nth-child(1) {
	float: left;
}

.scale-legend-icon:nth-child(2){
	float: right;
}


#scale-legend-labels {
	clear: both;
}

#scale-legend-labels > p {
	width: 50%;
	font-size: 3vw;
	line-height: 3vw;
	float: left;
}

@media (min-width: 1000px) {
	#scale-legend-labels > p {
		font-size: 31px;
		line-height: 31px;
	}
}

#scale-legend-labels > p:first-child{
	text-align: left;
}

#scale-legend-labels > p:last-child {
	text-align: right;
}

#scale-input {
	width: 80%;
	margin: 0 10%;
	padding: 4% 20px;
}

#scale-input > button {
	height: 50px;
	border: none;
	background-color: white;
	border: 1px solid black;
	border-right: none;
	width: 20%;
	display: block;
	float: left;
	color: black;
	font-size: 26px;
	line-height: 26px;
}


@media (min-width: 1000px) {
	#scale-legend-labels > p {
		
	}
}

#scale-input > button:hover {
	background-color: #DDD;
}

#scale-input > button:first-child {
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}

#scale-input > button:last-child {
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-right: 1px solid black;
}

